body {
  background: #333;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 730px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background: rgb(186, 20, 186);
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
}

.search {
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background: rgb(237, 34, 237);
}

.Container {
  width: 100%;
  max-width: 730px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 30px;
}

.MovieList {
  padding: 0;
  background: #4e4e4e;
  border-radius: 5px;
  height: calc(100vh - 150px);
  overflow-y: auto;
}

.watchedMovieList {
  padding: 0;
  background: #4e4e4e;
  border-radius: 5px;
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.Movie {
  color: #fff;
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 1s ease-in-out;
}

.Movie:hover {
  background: #333;
}

.selected {
  background: #333;
}

.title-year {
  padding-left: 20px;
}

.title-year h4 {
  margin: 0;
}

.title-year p {
  margin: 0;
}

.movie-poster {
  width: 40px;
}

.StatsList {
  padding: 0;
  background: #4e4e4e;
  border-radius: 5px;
  height: calc(100vh - 150px);
  overflow-y: hidden;
}

.go-back {
  background: rgb(237, 34, 237);
  border: none;
  border-radius: 5px;
  margin: 3px;
}

.Stats {
  color: #fff;
  margin: 10px;
  padding: 20px 30px;
  background: #6d6d6d;
  border-radius: 5px;
  box-shadow: 3px 8px 10px #333;
}

.Stats h4 {
  margin: 0;
}

.Stats .description {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.MovieDetails {
  color: #fff;
}

.MovieDetails .description {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MovieDetails .description h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.MovieDetails p {
  margin: 0;
}

.movie-header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 25px;
  background-color: #6d6d6d;
}

.movie_poster_details {
  width: 100%;
}

.movie-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.movie-body button {
  font-weight: bolder;
  color: #fff;
  background: rgb(237, 34, 237);
  border: none;
  padding: 8px;
  margin: 15px;
  border-radius: 5px;
}

.movie-body p {
  width: 80%;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
/* Thin scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  border-radius: 3px;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Thin scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
}

/* For Firefox */
/* Thin scrollbar track */
/* You may need to adjust the color of the scrollbar track separately in Firefox */
/* as it doesn't support scrollbar-color property */
/* For example: scrollbar-track-color: #f1f1f1; */
/* But it won't be as stylish as the WebKit version */
.scrollbar {
  scrollbar-width: thin; /* Thin scrollbar track */
  scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar handle and track */
}

@media (max-width: 750px) {
  .Container {
    grid-template-columns: 0.7fr;
    justify-content: center;
  }
  .App-header {
    max-width: 480px;
    width: 70%;
    flex-direction: column;
    height: 70px;
    background: rgb(186, 20, 186);
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
  }

  .results {
    display: none;
  }
}
